<!DOCTYPE html>
<html>
<head>
    {% block stylesheets %}
        {{ encore_entry_link_tags('auth') }}
    {% endblock %}
</head>
<body>

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('auth') }}
{% endblock %}
</body>
</html>
