{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <h1>user/edit</h1>
    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
{% endblock %}
