{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <h1>user/index</h1>

    {% for user in users %}
        <p class="table-row">{{ user.email }}</p>
    {% endfor %}
{% endblock %}
